.ImageCompare__Section {
  position: relative;
  max-width: 900px;
  width: 100%;
  aspect-ratio: 16 / 9;
  /* border: 1px solid #333; */
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
}

.ImageCompare__Before-Div,
.ImageCompare__After-Div {
  aspect-ratio: 16 / 9;
}

.ImageCompare__After-Div {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  border-left: 1px solid #333;
}