.bar {
  background: #f7f8f8;
  padding: 20px 0;
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
}

.bar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  background: #ddd;
  height: 5px;
}

#handler {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.ImageComparison-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.ImageComparison-before {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0px);
  filter: grayscale(100%);
}

.ImageComparison-after {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(80%, 0px);
}

.ImageComparison-after img {
  transform: translate(-80%, 0px);
}