.ImageComparison-before {
  width: 100dvw;
  height: 200dvh;
}

.ImageComparison-after {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.ImageComparison-handler {
  position: relative;
  width: 100%;
  height: 100%;
}

/* .ImageComparison-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
} */

/* .ImageComparison-before,
.ImageComparison-after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

/* .ImageComparison-before {
  transform: translate(0%, 0px);
  filter: grayscale(100%);
} */
/* .ImageComparison-before img {
  transform: translate(-0%, 0px);
} */

/* .ImageComparison-after {
  transform: translate(0%, 0px);
} */
/* .ImageComparison-after img {
  transform: translate(0%, 0px);
} */

/* .ImageComparison-slider {
  position: absolute;
  top: 0;
  left: 50%;
  width: 8px;
  height: 100%;
  background-color: #f4f4f5;
  transform: translate(-50%, 0px);
} */