.ImageCompare__Section {
  width: 100%;
  max-width: 900px;
  aspect-ratio: 4 / 3;
  /* border-radius: 10px; */
  overflow: hidden;
  margin: 0 auto;
}

.ImageCompare__After-Div {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  border-left: 1px solid #333;
}