:root {
  --fog:        #C6CAD3;
  --signal:     #FCA519;
  --dream:      #CABCE2;
  --golden:     #CDB729;
  --void:       #0e0e0e;
  --soft:       #DFE4DE;
  --steel:      #666d73;
  --app-height: 100vh;
}

/* #A9D442 */
/* #94C001 */
/* #BDBECF */

@media screen and (max-width: 1279px) {
  .gtext {
    margin: 0 auto;
    padding-left: 3rem;
  }
}

.gtext {
  display: grid;
  white-space: nowrap;
  width: max-content;

  --text-width: 100px;
  --gsplits: 4;
  --gsize: 1rem;

  font-size: var(--gsize);

  grid-template-columns: repeat(
    var(--gsplits),
    calc(var(--text-width) / var(--gsplits))
  );
}

.size-xl {
  --gsize: clamp(5rem, 10vw, 16rem);
}

.spaced {
  margin: 20vh auto;
}

.gtext__box {
  overflow: hidden;
  position: relative;
  will-change: transform;
  margin-right: -0.5px; 
  transform: translateX(20px);
}

.gtext__box-inner {
  padding-right: 0.2em;
  width: max-content;
  position: relative;
  display: block;
  will-change: transform;
}


.font-xs { font-size: 13px; }
.font-xxs { font-size: 11px; }
.font-lg { font-size: 32px; }

.gtext.gray-color {
  color: #8E98A0;
}

.gtext.letter-spacing {
  letter-spacing: 0.1em;
}



.image-wrapper {
  position: relative;
  overflow: hidden;
}

.base-image,
.profile-image,
.overlay-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image {
  z-index: 1;
}

.overlay-lines {
  z-index: 2;
  pointer-events: none;
}


/********************
 *  ==============   *
 ********************/
.MainSection-header {
  position: sticky;
  top: 0;
  z-index: 50;
}

.MainSectionItem-contentTitle > h3 {
  font-size: 1.5rem;
}
.MainSectionItem-contentTitle > h3,
.MainSectionItem-contentText > p {
  font-family: "NeueHaas45";
  letter-spacing: 0.5px;
}


/********************
 *  MOBILE    *
 ********************/
@media screen and (max-width: 896px) {
  .MainSectionItem-inner.--inner-first {
    height: calc(var(--app-height) * 2);
    z-index: 10;
  }
  .MainSectionItem-inner.--inner-between {
    height: calc(var(--app-height) * 2);
    margin-top: calc(var(--app-height) * -1);
    z-index: 20;
  }
  .MainSectionItem-inner.--inner-last {
    height: var(--app-height);
    margin-top: calc(var(--app-height) * -1);
    z-index: 30;
  }

  .MainSectionItem-innerSticky {
    position: relative;
    /* min-height: var(--app-height); */
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 6rem 2rem;
    transform: translate3d(0, 0, 0);
  }
  .MainSectionItem-background {
    position: absolute;
    inset: 0;
    z-index: -10;
  }
  .MainSectionItem-contentTitle {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.8rem;
  }
  /* .MainSectionItem-content {
    padding: 0 2rem 2rem 2rem;
  } */
  .MainSectionItem-mediaContainer {
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    /* padding: 6rem 2rem 0 2rem; */
  }
  .MainSectionItem-media {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .MainSectionItem-media img,
  .MainSectionItem-media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (pointer:coarse) {
  .MainSectionItem-contentText {
    font-size: 15px;
    line-height: 1.5rem;
  }
}


/********************
 *  MOBILE ROTATE & TABLET    *
 ********************/
@media screen and (min-width: 897px) and (max-width: 1279px) {
  .MainSection-items {
    margin-top: 4rem;
  }
  
  .MainSectionItem-innerSticky {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .MainSectionItem-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
  }
  .MainSectionItem-content {
    width: 50%;
    margin: 2rem 0 2rem 6rem;
  }
   .MainSectionItem-contentTitle {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.8rem;
  }
  .MainSectionItem-index {
    display: none;
  }
  .MainSectionItem-mediaContainer {
    width: 50%;
    aspect-ratio: 448 / 325;
    overflow: hidden;
    margin: 2rem 2rem 2rem 0;
  }
  .MainSectionItem-media > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


/********************
 *  DESKTOP & LARGER SCREENS    *
 ********************/
@media screen and (min-width: 1280px) {
  .MainSection {
    position: relative;
  }
  .MainSection-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .MainSection-header {
    position: absolute;
    top: 15vh;
    left: 6rem;
    width: 100%;
    z-index: 10;
  }
  .MainSection-items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .MainSectionItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .MainSectionItem-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .MainSectionItem-innerSticky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10vh 8rem;
  }
  .MainSectionItem-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .MainSectionItem-content {
    position: absolute;
    left: 6rem;
    top: 33%;
    width: 27%;
    /* margin-top: -23rem; */
  }
  .MainSectionItem-contentTitle {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
  }
  .MainSectionItem-contentTitle > h3 {
    font-size: clamp(16px, 4vw, 20px);
    line-height: clamp(32px, 4vw, 32px);
  }
  .MainSectionItem-contentText > p {
    font-size: clamp(12px, 4vw, 13px);
    line-height: clamp(16px, 4vw, 18px);
  }
  .MainSectionItem-index {
    display: none;
  }
  .MainSectionItem-mediaContainer {
    position: absolute;
    right: 0;
    top: 33%;
    width: 33.3%;
    aspect-ratio: 480 / 348;
    /* margin-top: -23rem; */
    margin-bottom: 0;
    overflow: hidden;
  }
  .MainSectionItem-media > img,
  .MainSectionItem-media > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}