.container-main {
  background-color: #BFCCD8;
  /* background: #f1efeb; */
  --91c5acce: 5;
  height: calc(var(--91c5acce) * 130vh);
  position: relative;
  width: 100%;
  z-index: 20;
}

.container-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 2px solid crimson;
}

.container-items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* overflow-x: auto; */
  /* scroll-snap-type: x mandatory; optional for snapping effect */
  /* -webkit-overflow-scrolling: touch; */
  margin: 8px;
  border: 2px dashed lime;
}

.container-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  translate: none;
  rotate: none;
  scale: none;
  /* transform: translate3d(0%, 0px, 0px); */
  /* flex: 0 0 auto; */
  /* width: 100svw; */
  /* height: 100svh; */
  /* position: relative; */
  /* scroll-snap-align: start; optional snapping */
  /* overflow: hidden; */
  /* margin: 8px; */
}

.container-item-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* transform: translate3d(0%, 0px, 0px); */
}

.container-item-inner-sticky {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  pointer-events: none;
  /* padding-left: 16rem; */
  /* padding-top: 10vh; */
  padding: 15vh 16rem 0;
  gap: 13rem;
  height: 100%;
  width: 100%;
}
/* .container-item:not(:first-child) {
  transform: translateX(-33%);
} */
/* .container-item:nth-child(2) {
  transform: translateX(-33%);
}
.container-item:nth-child(3) {
  transform: translateX(-53%);
}
.container-item:nth-child(4) {
  transform: translateX(-85%);
}
.container-item:nth-child(5) {
  transform: translateX(-138%);
} */

.container-item-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.container-item:nth-child(1) .container-item-background {
  /* width: 100%; */
  background-color: #BFCCD8;
}
.container-item:nth-child(2) .container-item-background {
  /* width: 61.8%; */
  background-color: #B692A1;
}
.container-item:nth-child(3) .container-item-background {
  /* width: 38.2%; */
  background-color: #798E7B;
}
.container-item:nth-child(4) .container-item-background {
  /* width: 23.6%; */
  background-color: #F1EFEB;
}
.container-item:nth-child(5) .container-item-background {
  /* width: 14.6%; */
  background-color: #E49366;
}

.container-item-content {
  position: relative;
  width: 100%;
  margin-top: -23.25rem;
  top: 65%;
  padding: 16px;
  padding-left: 8rem;
  pointer-events: auto;
  opacity: 1;
  visibility: inherit;
  /* background: rgba(255, 255, 255, 0.8); */
  /* backdrop-filter: blur(8px); soft glass effect */
  /* transition: transform 0.3s ease, opacity 0.3s ease; */
}

.container-item-content-index {
  position: absolute;
  top: .8rem;
  left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  display: none;
}

.container-item-content-title {
  /* translate: none; */
  /* rotate: none; */
  /* scale: none; */
  /* transform: translate3d(0px, 0px, 0px); */
  /* opacity: 1; */
  /* visibility: inherit; */
  margin-bottom: 3rem;
}

.container-item-content p {
  max-width: 50%;
}

.container-item-imageContainer {
  aspect-ratio: 480 / 348;
  margin-top: -27.25rem;
  position: absolute;
  top: 73%;
  right: 0;
  width: 33.3%;
  translate: none;
  rotate: none;
  scale: none;
  transform-origin: 100% 100% 0px;
  transform: translate3d(-60%, 0px, 0px);
}

.container-item-imageContainer-inner {
  translate: none;
  rotate: none;
  scale: none;
  transform-origin: 50% 50% 0px;
  transform: translate3d(0px, 0px, 0px) scale(1.001);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.container-item-image {
  aspect-ratio: 1.3793103448275863;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  height: 100%;
  width: 100%;
  transition: opacity .3s cubic-bezier(.455,.03,.515,.955);
}

.container-item-image .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.container-item-image img {
  object-fit: cover;
  opacity: 1;
  transition: opacity .3s cubic-bezier(.455,.03,.515,.955);
}



/* bg-[#BFCCD8]
bg-[#B692A1]
bg-[#798E7B]
bg-[#F1EFEB]
bg-[#E49366] */