.section {
  /* overflow-x: clip; */
  overflow-x: hidden;
  overflow-y: scroll;
  border: 4px dashed cyan;
}

.description,
.final {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  height: 100%;
  padding: 10px;
  border: 2px solid magenta;
}

.scroll-container {
  display: flex;
  flex-wrap: nowrap;
  width: 500%;
  height: 100vh;
}

.panel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px dashed lime;
}

.box {
  width: 100px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  background-color: white;
  border-radius: 8px;
  color: #222;
  font-weight: 700;
  margin-left: 20px;
  will-change: transform;
}

.box.active {
  background-color: orange;
  border: 2px solid white;
}