.aberration-effect {
  position: relative;
  overflow: hidden;
  /* width: 100%; */
  /* height: 100%; */
  width: 100vw;
  height: 100vh;
}

.aberration-effect img {
  display: none;
}

.aberration-effect canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}