:root {
  --glass: #bbbbbc;
  --dark: #000;
  --light: #fff;
  --glass-reflect-dark: 1;
  --glass-reflect-light: 1;
}

.GlassEffect {
  background-color: color-mix(in srgb, var(--glass) 12%, transparent);
  box-shadow: 
    inset 0 0 0 1px color-mix(in srgb, var(--light) calc(var(--glass-reflect-light) * 10%), transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, var(--light) calc(var(--glass-reflect-light) * 90%), transparent), 
    inset -2px -2px 0px -2px color-mix(in srgb, var(--light) calc(var(--glass-reflect-light) * 80%), transparent), 
    inset -3px -8px 1px -6px color-mix(in srgb, var(--light) calc(var(--glass-reflect-light) * 60%), transparent), 
    inset -0.3px -1px 4px 0px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 12%), transparent), 
    inset -1.5px 2.5px 0px -2px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 20%), transparent), 
    inset 0px 3px 4px -2px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 20%), transparent), 
    inset 2px -6.5px 1px -4px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 10%), transparent), 
    0px 1px 5px 0px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 10%), transparent), 
    0px 6px 16px 0px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 8%), transparent);
  transition: 
    background-color 400ms cubic-bezier(1, 0.0, 0.4, 1),
    box-shadow 400ms cubic-bezier(1, 0.0, 0.4, 1);
}

.GlassEffect-light::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  /* left: 4px; */
  /* top: 4px; */
  display: block;
  width: 100%;
  height: 100%;
  /* height: calc(100% - 10px); */
  border-radius: 99rem;
  background-color: color-mix(in srgb, var(--glass) 36%, transparent);
  /* background-color: color-mix(in srgb, var(--glass) 36%, transparent); */
  z-index: -1;
  box-shadow: 
    inset 0 0 0 1px color-mix(in srgb, var(--light) calc(var(--glass-reflect-light) * 10%), transparent),
    inset 2px 1px 0px -1px color-mix(in srgb, var(--light) calc(var(--glass-reflect-light) * 90%), transparent), 
    inset -1.5px -1px 0px -1px color-mix(in srgb, var(--light) calc(var(--glass-reflect-light) * 80%), transparent), 
    inset -2px -6px 1px -5px color-mix(in srgb, var(--light) calc(var(--glass-reflect-light) * 60%), transparent), 
    inset -1px 2px 3px -1px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 20%), transparent), 
    inset 0px -4px 1px -2px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 10%), transparent), 
    0px 3px 6px 0px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 8%), transparent);
}


.GlassEffect-dark {
  --glass-reflect-dark: 2;
  --glass-reflect-light: 0.3;
  background-color: color-mix(in srgb, var(--glass) 12%, transparent);
  box-shadow: 
    inset 0 0 0 1px color-mix(in srgb, var(--light) calc(var(--glass-reflect-light) * 10%), transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, var(--light) calc(var(--glass-reflect-light) * 90%), transparent), 
    inset -2px -2px 0px -2px color-mix(in srgb, var(--light) calc(var(--glass-reflect-light) * 80%), transparent), 
    inset -3px -8px 1px -6px color-mix(in srgb, var(--light) calc(var(--glass-reflect-light) * 60%), transparent), 
    inset -0.3px -1px 4px 0px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 12%), transparent), 
    inset -1.5px 2.5px 0px -2px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 20%), transparent), 
    inset 0px 3px 4px -2px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 20%), transparent), 
    inset 2px -6.5px 1px -4px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 10%), transparent), 
    0px 1px 5px 0px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 10%), transparent), 
    0px 6px 16px 0px color-mix(in srgb, var(--dark) calc(var(--glass-reflect-dark) * 8%), transparent);
  transition: 
    background-color 400ms cubic-bezier(1, 0.0, 0.4, 1),
    box-shadow 400ms cubic-bezier(1, 0.0, 0.4, 1);
}